# venv
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js / React
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Environment Variables
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
